.postPrevio,
.postSiguiente {
    writing-mode: vertical-rl;
    color: #26495c;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    max-height: 400px;
    padding: 24px 0 ;
    text-align: center;
    font-size: 24px;
    z-index: 20;
}

.postPrevio {
    left: 0px;
}

.postSiguiente {
    right: 0px;
}

.linkPrevio,
.linkSiguiente {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    text-transform: uppercase;
    text-decoration: none;
}


.postPrevio:hover,
.postSiguiente:hover {
    border-top:2px dashed yellow ;
    border-bottom:2px dashed yellow ;
    
}

.postSiguiente:hover{
    border-left:2px dashed yellow ;
}

.postPrevio:hover{
    border-right:2px dashed yellow ;
}