---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul li {
				height: 250px;
				transition:0.3s
			}
			li a h4{
				margin-bottom:0px
			}

			ul li:hover{
				transform:translateY(-6px)
			}

			/* ul li{
				display: flex;
				flex-direction: column;
			} */

			li img{
				height: 70%;
			}



		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul class="grid grid-cols-12 gap-6">
					<li class="col-span-3 border border-2 border-black">
                        <a href={`/blog/aws-architect`}>
                            <img class="foto" src="/aws-architect.png" alt="" />
                            <h4 class="title border-t-2 border-black p-2 mb-0 bg-purple-200">AWS Architect</h4>
                        </a>
                    </li>

					<li class="col-span-3 border border-2 border-black">
                        <a href={`/blog/web`}>
                            <img class="foto" src="/aws-architect.png" alt="" />
                            <h4 class="title border-t-2 border-black p-2 mb-0 bg-purple-200" class="title">Web</h4>
                        </a>
                    </li>
					<li class="col-span-3  border border-2 border-black">
                        <a href={`/blog/programacion-c`}>
                            <img class="foto" src="/aws-architect.png" alt="" />
                            <h4 class="title border-t-2 border-black p-2 mb-0 bg-purple-200" class="title">Programación en C</h4>
                        </a>
                    </li>
					<li class="col-span-3  border border-2 border-black">
                        <a href={`/blog/javascript`}>
                            <img class="foto" src="/aws-architect.png" alt="" />
                            <h4 class="title border-t-2 border-black p-2 mb-0 bg-purple-200" class="title">Javascript</h4>
                        </a>
                    </li>
					<li class="col-span-3  border border-2 border-black">
                        <a href={`/blog/desarrollo-web`}>
                            <img class="foto" src="/aws-architect.png" alt="" />
                            <h4 class="title border-t-2 border-black p-2 mb-0 bg-purple-200" class="title">Desarrollo web</h4>
            
                        </a>
                    </li>
					
                    <li class="col-span-3 border border-2 border-black">
                        <a href={`/blog/aws-developer`}>
                            <img class="foto" src="/blog-placeholder-3.jpg" alt="" />
                            <h4 class="title border-t-2 border-black p-2 mb-0 bg-purple-200" class="title">AWS Developer</h4>
            
                        </a>
                    </li>

					<li class="col-span-3 border border-2 border-black">
                        <a href={`/blog/react`}>
                            <img class="foto" src="/blog-placeholder-3.jpg" alt="" />
                            <h4 class="title border-t-2 border-black p-2 mb-0 bg-purple-200" class="title">React</h4>
            
                        </a>
                    </li>
                    <li class="col-span-3 border border-2 border-black">
                        <a href={`/blog/linux`}>
                            <img class="foto" src="/blog-placeholder-3.jpg" alt="" />
                            <h4 class="title border-t-2 border-black p-2 mb-0 bg-purple-200" class="title border-t-2 border-black p-2 mb-0 bg-purple-200" class="title">Linux</h4>
                        </a>
                    </li>
					<li class="col-span-3 border border-2 border-black">
                        <a href={`/blog/hardware`}>
                            <img class="foto" src="/blog-placeholder-3.jpg" alt="" />
                            <h4 class="title border-t-2 border-black p-2 mb-0 bg-purple-200" class="title border-t-2 border-black p-2 mb-0 bg-purple-200" class="title">Computación general</h4>
                        </a>
                    </li>
					<li class="col-span-3 border border-2 border-black">
                        <a href={`/blog/sistemas-operativos`}>
                            <img class="foto" src="/blog-placeholder-3.jpg" alt="" />
                            <h4 class="title border-t-2 border-black p-2 mb-0 bg-purple-200" class="title">Sistemas operativos</h4>
                        </a>
                    </li>
					<li class="col-span-3 border border-2 border-black">
                        <a href={`/blog/algoritmos`}>
                            <img class="foto" src="/blog-placeholder-3.jpg" alt="" />
                            <h4 class="title border-t-2 border-black p-2 mb-0 bg-purple-200"class="title">Algoritmos</h4>
                        </a>
                    </li>

				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
