---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Card from '../../components/Card.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />		
	</head>
	<body>
		<Header />
		<main>
			<section>
                <p class="mt-8 mb-6 w-3/5">Cada artículo está diseñado para ser claro, práctico y accesible, ya sea que estés comenzando tu viaje en el código o buscando profundizar en temas específicos. Aquí comparto todo lo que he aprendido a lo largo de mi experiencia autodidacta, con el objetivo de ayudarte a superar desafíos y a construir tus propias soluciones tecnológicas. ¡Explora, aprende y sigue creciendo con cada contenido!</p>
				<ul class="grid grid-cols-12 gap-6">
                    <Card title="Programación en C" foto="/c.jpg" tema="programacion-c"/>
                    <Card title="Javascript" foto="/javascript.jpg" tema="javascript"/>
                    <Card title="Desarrollo web" foto="/web.jpg" tema="web"/>
                    <Card title="AWS architect" foto="/aws-architect.jpg" tema="aws-architect"/>
                    <Card title="AWS developer" foto="/aws-developer.jpg" tema="aws-developer"/>
                    <Card title="React" foto="/react2.jpg" tema="react"/>
                    <Card title="Linux" foto="/linux.jpg" tema="linux"/>
                    <Card title="Hardware" foto="/hardware.jpg" tema="hardware"/>
                    <Card title="S. Operativos" foto="/os.jpg" tema="sistemas-operativos"/>
                    <Card title="Algoritmos" foto="/algoritmos.jpg" tema="algoritmos"/>
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
