---
    const { foto, tema, posts } = Astro.props
---

<style>
    li a h4{
        margin:0
    }

    .leccion:hover a div img{
        transform:translateX(10px);
        transition:0.2s
    }
    
    .leccion a div img{
        transition:0.2s
    }

</style>


<div>
    <section class="h-screen m-auto grid gap-4 grid-cols-4">
        <img class="col-span-2 sticky top-[0px]" src={foto} alt="">
        <ul class="col-span-2">
            {
                posts.map((post) => (
                    <li class="leccion p-2 border-b w-full hover:bg-gray-900 border-black">
                        <a href={`/blog/${tema}/${post.slug}/`}>
                        <div class="flex justify-between items-center gap-4">
                            <h4 class="">{post.data.title}</h4>
                            <img class="w-[30px] object-cover" src='../../flecha-derecha.svg' alt=""/>
                        </div>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>


</div>